body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
}
.flexible-container{
    display: flex;
    margin-bottom: 75px;
}
.half-width{
    width: 50%s;
    padding-left: 5%;
    padding-right: 20%;
}
.half-width img{
    width: 250%;
}
.orange-color{
    color: orangered;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,orangered);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
}
.about-us img{
    width: 100%;

}
.about-us{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: left;
    background-size: cover;
    
    
}
.recipe{
    text-align: center;
}
.food-item{
    box-shadow: 10px 10px 50px rgb(139, 39, 39);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    
}
.food-item img{
    width: 100%;
    border-radius: 20px;
    
    
}
#soup img{
    height: 54%;
}

footer {
   text-align: center;
   color: blanchedalmond;
   background: black;
   
   
}

#food{
    color:coral;
}
